:root {
  --orange-hue: rgb(255, 149, 0);
  --orange-hue-filter: invert(53%) sepia(56%) saturate(1839%) hue-rotate(3deg) brightness(109%) contrast(102%);
  --yellow-hue: #ffff56cb;
  --green-hue: rgb(29, 202, 16);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#connect-button {
  background-color: var(--green-hue);
}

.bx--text-input__field-outer-wrapper {
  min-height: 10px !important;
}